.header{
  height:100px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  margin-bottom:100px
}
.header .pre{
  color: white;
}
.header .last{
  color: black;
  display: inline-block;
  /* height: 20px; */
  margin-left: 10px;
  padding: 3px;
  background-color: rgb(230, 143, 66);
  border-radius: 5px;
}

.content-warpper{
  display: flex;
  justify-content: center;
}
.content-warpper > div{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid black;
  margin-right:20px
}
.content-warpper > div a{
  text-decoration:none;
}


